.log-table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

.log-table th,
.log-table td {
  padding: 12px 16px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.log-table th {
  background: #4b0f2e;
  color: white;
}

.log-table tr:hover {
  background: #f9f0ff;
}
